.printbutton {
		margin-left: 50%;
	}
	.instruction {
		text-align: center;
	}
	.type {
		text-transform: capitalize;
	}
	table
	{
		border: 1px solid black;
		width: 100%
	}

	.w-100 {
		width: 100%;
	}
	.row-33 {
		width: 33.33%
	}
	a {
		color: gray;
	}
	.set-center {
		text-align: center;
	}
	.set-right {
		text-align: right;
	}
	.set-left {
		text-align: left;
	}

	@media print
    {
    	.noprint { display: none; }
    	.printable { display: block; }
    }