body {
  margin: 0;
/*  background: url("wallpaper.jpg");
  background-size: cover;
  background-repeat:no-repeat;*/
  background-color: #FFF;
  display: compact;
  font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
