<html>
<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/modernizr.custom.08464.js"></script>
		<script id="pageTmpl" type="text/x-jquery-tmpl">
			<div class="${theClass}" style="${theStyle}">
				<div class="front">
					<div class="outer">
						<div class="content" style="${theContentStyleFront}">
							<div class="inner">{{html theContentFront}}</div>
						</div>
					</div>
				</div>
				<div class="back">
					<div class="outer">
						<div class="content" style="${theContentStyleBack}">
							<div class="inner">{{html theContentBack}}</div>
						</div>
					</div>
				</div>
			</div>			
		</script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/moment.min.js"></script>
	<script type="text/javascript" src="js/feed.js"></script>
	<script type="text/javascript">
		google.load("feeds","1");
		
		google.setOnLoadCallback(initialize);
	</script>

	
</head>
<body>
	<header class="main-title">
			<h1>Feed Viewer <strong>Inspired by Flipboard</strong></h1>
			<p>Swipe or drag to flip the pages, click to open items </p>
			<p><strong>Best viewed in a Webkit browser (Safari, Chrome)</strong></p>

	</header>
		
		<div id="flip" class="container">
		
			<div class="f-page f-cover">
				<div class="cover-elements">
					<div id="logo" class="logo">
					</div>
					<h1>This reader uses code <span>provided by <a href="http://tympanus.net/codrops/2012/05/07/experimental-page-layout-inspired-by-flipboard/">Codrops</a></span></h1>
					<div id='cover-story' class="f-cover-story"></div>
				</div>
				<div class="f-cover-flip">&lt; Flip</div>
			</div>
		</div>


</body>
</html>